@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body{
    background-color: hsl(212, 45%, 89%);
}

.container {
    font-family: 'Outfit', sans-serif;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 100px auto;
    max-width: 240px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 10px 15px 5px rgba(123, 135, 157, 0.1);
}

.container > img {
    border-radius: 7px;
}

.main-text{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.text{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: -5px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.attribution { 
    font-family: 'Roboto', sans-serif;
    margin-top: -70px;
    font-size: 12px; text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}